
.form-style-9{
	width:70%;
	max-width: 450px;
	background: #FAFAFA;
	opacity: 0.8;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	/* border: 2px solid #305A72; */
	border: 2px solid ;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


/* table { */
  /* border-collapse: collapse; */
  /* width: 100%; */
   /* background-color : #c6c3bd; */
    /* opacity: 0.8; */
   /* bgcolor="#00FF00" */
/* } */

/* th, td { */
  /* text-align: left; */
  /* padding: 8px; */
/* } */

/* tr:nth-child(even) {background-color: #f2f2f2;} */

body {
  padding: 0 2em;
  font-family: Arial, sans-serif;
  color: #024457;
  background: #f2f2f2;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  color: #024457;
  span {color: #167F92;}
}

.container {
  padding: 16px;
}
input[type=text], input[type=password], input[type=email]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}




.button_ph {
  background-color: #A9A9A9;
  color: black;
  padding: 14px 20px;
 /* margin: 8px 0 ;*/
  margin-left:5px;
  border: 2px solid yellow;
  cursor: pointer;
  margin: 0 auto;

}


.button_temp_air{
  background-color: #A9A9A9;
  color: black;
  padding: 14px 20px;
  margin: 0 auto ;
  border: 2px solid red;
  cursor: pointer;
}




button {
  background-color: #A9A9A9;
  color: black;
  padding: 14px 20px;
  margin: 0 auto;
  /* border: 2px solid ; */
  cursor: pointer;
}

.button_orp{
	  background-color: #A9A9A9;
  color: black;
  padding: 14px 20px;
  margin: 0 auto ;
  border: 2px solid pink;
  cursor: pointer;


}




.centre{
    text-align: center;
	top:30%;
	position:relative;
}
.center {
  text-align: center;
}

.interface_inscri_connexion{
	 background-image: url("../assets/images/img.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 100%;
	 width:100%;

	 background-position: center;
}



.img_societe_digi{
	width:80px;
	height:50px;
}




.img_societe{
	width:50px;
	height:50px;
}

/* .carre{ */
	/* width:50%; */
	/* opacity: 0.8; */
	/* text-align: center; */
	/* vertical-align: top; */
	/* background:#D3D3D3	; */
	/* margin: 0 auto;      */
/* } */


.carre{

	width:30%;
	display:table-cell;
	text-align:center;
	/* border:1px solid black;  */
/* margin: 0 auto;	 */

}








.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.div_carte{

  margin-left: auto;
  margin-right: auto;
   margin: 0;
  /* display: table-cell;*/
   display: inline-block;
	width: 30%;

}




.form_options{
	display: inline;
	}



.div_options {
  position: absolute;
  border: none;
  /* top: 70px; */
  /* right: 15px; */
   position: fixed;
   bottom: 23px;
  left: 250px;
   opacity: 0.8;
   cursor: pointer;

}
</style>
